<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" class="navbar-text" href="#"><h6>&copy;manavbhadani-301152801 All Rights Reserved</h6></a>
      </div>
    </nav>
</footer>
