<!DOCTYPE html>

<%- include ('Partials/header.ejs') %>


<%- include ('Partials/main_nav.ejs') %>

 

  <!--Main Content-->

    <div class="bg-success p-2 text-dark bg-opacity-50">
      <div class="container" >
        
        <br>
        <h2><center>Hello EveryOne !</center></h2>
        <br>
        <br>
    </div>
    <div class="container">
        <h4><center>Welcome to my homepage.</center></h4>
    </div>
     
  
      <div class="text-center text-md-left">
        <a class="btn btn-primary" href="about"onclick="document.getElementById('contact').submit();"> To learn more about me</a>
       <br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br>
<br><br><br>

    </div>
 
  </main>

  <%- include ('Partials/bottom_nav.ejs') %>
  <%- include ('Partials/footer.ejs') %>
 





